<!-- apticity.moviebox::header -->

<nav class="navbar is-bold is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-medium is-inverted is-outlined is-primary" href="/">
        <span class="icon"><i class="fas fa-cloud"></i></span>
        <h1>{{ 'moviebox' | capitalize }}</h1>
      </a>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-primary" href="https://cloudverse.netlify.com/">
          <span class="icon"><i class="fas fa-rss"></i></span>
          <span>{{ 'cloudverse' | capitalize }}</span>
        </a>
      </div>
    </div>
  </div>
</nav>
