<!-- apticity.moviebox::footer -->

<nav class="navbar is-bold is-primary">
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-primary" href="https://github.com/apticity/moviebox#readme" target="_blank" rel="noopener noreferrer">
          <span class="icon"><i class="fab fa-github fa-2x"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<section class="section has-background-light">
  <small class="content has-text-centered">
    <p>
      <span>apticity &Colon; made with &hearts;</span>
      <br>
      <span>MIT License &copy; 2019</span>
    </p>
  </small>
</section>
