<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>apticity &Colon; cloudverse &Colon; moviebox</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/index.min.css">
  </head>

  <body>
    <header>
      {% include site_header.html %}
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      {% include site_footer.html %}
    </footer>

    <script src="/assets/js/index.min.js"></script>
  </body>
</html>
